/* Shrink image and draw borders*/
figure {
    width: 200px;
    float: left;
    margin: 20px 20px 0 0;
    background: white;
    border: 10px solid white;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -moz-transition: all 1s ease;
    position: relative;
}
figure img {
    width: 100%;
    /* Scale down */
}
figure:hover {
    -webkit-box-shadow: 0 3px 10px #666;
    -moz-box-shadow: 0 3px 10px #666;
}
/* Scale image to full size on focus*/
figure:focus {
    outline: none;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-box-shadow: 0 3px 10px #666;
    -moz-box-shadow: 0 3px 10px #666;
    -ms-box-shadow: 0 3px 10px #666;
    z-index: 9999;
}